#media-entity-browser-modal {

  & {
    padding: 0;
  }

  > div {
    height: 100%;
  }

  .media-library-wrapper {
    height: 100%;
    margin: 0;
  }

  .media-library-content {
    box-shadow: none;
  }

  .media-library-select.form-submit {
    display: none;
  }

  #media-library-wrapper {
    display: flex;
  }

  #media-library-add-form-wrapper {
    padding: 20px;
  }
}
