.components-panel__header {

  &.edit-post-sidebar__panel-tabs {

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

// Drupal sidebar panels — individual panels for each form section.
.drupal-sidebar-panel {
  // Fix z-index issues with Gutenberg input controls.
  .components-input-control__container {

    .components-input-control__input,
    .components-select-control__input {
      z-index: 1;
    }

    .components-input-control__backdrop {
      z-index: 0;
      background: none;
    }
  }
}

.entity-meta {
  border: 0 !important;
}

.components-panel__row label {
  display: initial !important;
}
