$shadow-colour: #a7a7a7;
$file-box-width: 400px;
$file-box-padding: 20px;
$file-box-icon-size: 30px;
$light-background-colour: #eee;
$light-background-font-colour: #333;
$dark-background-colour: #333;
$dark-background-font-colour: #fff;

@mixin cell {
  padding: 4px 2px;
  word-wrap: break-word;
}

@mixin drop-shadow($size:4px) {
  -webkit-box-shadow: $size $size calc($size*2) $shadow-colour;
  -moz-box-shadow: $size $size calc($size*2) $shadow-colour;
  box-shadow: $size $size calc($size*2) $shadow-colour;
}

@mixin verification-button {
  border: solid #f0f0f0 1px;
  border-radius: 4px;
  background: none;
  box-shadow: none;
  color: black;
  text-shadow: none;
  min-height: 22px;
  margin: 4px;
  padding: 6px;
  &:hover {
    background: #f0f0f0;
    color: #000000;
  }
  &:link, &:visited {
    color: black;
  }
  &:active {
    background: lighten(lightcoral, 20%);
  }
  &:focus {
    background: none;
    color: #000000;
    &:active {
      background: lighten(lightcoral, 20%);
    }
  }
}

@mixin control-settings-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
  opacity: 0.95;
  background-color: #f0f0f0;
  border: solid silver 1px;
  z-index: 1;
  border-radius: 4px;
}

@mixin log-output {
  border: solid silver 1px;
  width: 100%;
  min-width: 400px;
  min-height: 200px;
  padding: 4px;
  margin-bottom: 8px;
  p {
    margin: 2px;
  }
}

/* So we can absolute position the loading spinner */
body {
  position: relative;
  > .loading-spinner {
    position: fixed;
  }
}

.idc-control {
  .idc-tools {
    position: absolute;
    top: 0;
    right: 0;
    border: solid silver 1px;
    border-radius: 3px;
    background-color: rgba(225, 235, 225, 0.9);
    span {
      font-size: 20px;
      padding: 0;
      margin: 2px;
      color: #999;
    }
    span:hover {
      color: #333;
    }
  }
  /* Multiselect checkboxes for grids and card galleries. */
  .multiselect-cntr {
    input[type="checkbox"] {
      width: 18px;
      height: 18px;
    }
  }
}

/* idcCardGallery plugin */
.idc-cardGallery {
  /* Ensure height enough for spinner. */
  min-height: 140px;
  &.max-size-mode {
    .card:not(.show-max-size) {
      display: none;
    }
  }
  &.flexgrid {
    .es-card-gallery {
      display: flex;
      flex-wrap: wrap;
      .card {
        flex-basis: 98%;
        flex-grow: 1;
        width: 90%;
      }
    }
  }
  &.horizontal {
    .es-card-gallery {
      overflow-x: auto;
      white-space: nowrap;
      .card {
        display: inline-block;
        img.med {
          width: 150px;
          height: 150px;
          object-fit: cover;
        }
      }
    }
  }
  .es-card-gallery {
    margin: 0 auto;
    .card {
      margin: 1%;
      box-sizing: border-box;
      background-color: $colour-even-row;
      position: relative;
      border: 1px solid grey;
      @include drop-shadow;
      &:not(.selected) {
        a[data-fancybox] {
          pointer-events: none;
        }
      }
      &:last-of-type {
        flex-grow: 0;
      }
      &:hover:not(.disabled) {
        color: $colour-hover-row;
        background-color: $colour-hover-row-bg;
      }
      &.selected:not(.disabled,.show-max-size) {
        color: $colour-select-row;
        background-color: $colour-select-row-bg;
      }
      &:not(.disabled) {
        border: 1px solid grey;
      }
      .expand-card {
        position: absolute;
        bottom: 4px;
        right: 4px;
        border: none;
        padding: 0;
      }
      .collapse-card {
        position: absolute;
        top: 4px;
        right: 4px;
        display: none;
        border: none;
        padding: 0;
      }
      &.show-max-size {
        margin: 0;
        flex-basis: 98%;
        @include drop-shadow(6px);
        .image-container {
          text-align: center;
          /* Prevent images pushing buttons off bottom of page. */
          img {
            max-height: 600px;
          }
        }
        .expand-card {
          display: none;
        }
        .collapse-card {
          display: initial;
        }
      }
      .image-container {
        display: flex;
        padding: 4px;
        justify-content: center;
        > * {
          max-width: 98%;
          flex-basis: auto;
          margin-right: 4px;
          margin-bottom: 8px;
          a {
            display: block;
          }
          img {
            max-width: 100%;
          }
          &:first-child {
            margin-left: 4px;
          }
        }
      }
      ul.data-container {
        padding: 8px;
        margin-bottom: 0;
        li {
          list-style-type: none;
        }
      }
      /* Taxon label titles */
      h3 {
        font-size: 1.1em;
        font-weight: bold;
        margin: 0;
      }
      /* If verification buttons moved to card in max size mode */
      .verification-buttons-cntr {
        padding: 8px;
        margin: 8px;
        border-radius: 4px;
        button {
          @include verification-button;
        }
        .fas, .far {
          /* Consistent height independent of border settings. */
          height: 18px;
        }
      }
      .multiselect-cntr {
        position: absolute;
        top: 6px;
        right: 12px;
      }
      .card-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-bottom: 8px;
        > * {
          margin-right: 15px;
          border: solid silver 1px;
          border-radius: 4px;
        }
        .data-container {
          background-color: $light-background-colour;
          color: $light-background-font-colour;
        }
        .classifier-agreement {
          background-color: $dark-background-colour;
          color: $dark-background-font-colour;
          padding: 8px;
        }
        .classifier-suggestions {
          background-color: $dark-background-colour;
          color: $dark-background-font-colour;
          padding: 8px;
          .classifier-suggestion {
            background-color: $light-background-colour;
            color: $light-background-font-colour;
          }
        }
      }
    }
    @media (min-width: 801px) {
      .card:not(.show-max-size) {
        flex-basis: 48%;
        &.big, &.x-big {
          flex-basis: 98%;
        }
      }
    }
    @media (min-width: 1201px) {
      .card:not(.show-max-size) {
        flex-basis: 31%;
        &.big {
          flex-basis: 48%;
        }
        &.x-big {
          flex-basis: 98%;
        }
      }
    }
    @media (min-width: 1601px) {
      .card:not(.show-max-size) {
        flex-basis: 23%;
        &.big {
          flex-basis: 48%;
        }
        &.x-big {
          flex-basis: 98%;
        }
      }
    }
  }
  .footer {
    background-color: #eee;
    padding: 8px;
  }
  .sort-dropdown {
    @include control-settings-overlay;
    li {
      list-style-type: none;
      background: #e7e7e7;
      border: solid #777 1px;
      padding: 4px;
      margin: 2px 4px;
      position: relative;
      h4 {
        margin: 0;
        font-size: 1.1rem;
      }
      p {
        margin: 0;
        font-size: 1rem;
      }
      /* Sort icon */
      span {
        position: absolute;
        right: 4px;
        top: 4px;
      }
    }
  }
  #card-nav-buttons {
    float: right;
  }
}

/* idcDataGrid plugin */
.idc-dataGrid {
  position: relative;
  /* Ensure height enough for spinner. */
  min-height: 140px;
  &.layout-align-bottom {
    table.es-data-grid {
      /* Remove margin so controlLayout can anchor to bottom of page. */
      margin-bottom: 0;
    }
  }
  table.es-data-grid {
    background-color: $colour-odd-row;
    thead {
      tr {
        th, td {
          @include cell;
        }
        &.es-filter-row {
          input {
            width: 100%;
            box-sizing: border-box;
            margin: 0;
          }
          /* Position search value warning icon over input. */
          .fa-exclamation-circle {
            margin-left: -20px;
          }
        }
        .fa-sort {
          opacity: 0.3;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    tbody {
      tr {
        th, td {
          @include cell;
        }
        @include grid-rows;
        img {
          max-height: 60px;
          border-radius: 4px;
          margin: 2px;
          @include drop-shadow(3px);
          &.multi {
            max-height: 45px;
          }
        }
      }
    }
    &.fixed-header {
      tbody {
        display:block;
        overflow-y: auto;
        overflow-x: hidden;
      }
      thead, tbody tr {
        display:table;
        width:100%;
        /* even columns width , fix width of table too*/
        table-layout: fixed;
      }
      .multiselect-cntr {
        padding: 0;
        width: 12px;
      }
    }
    tfoot {
      span {
        margin: 0 1em;
      }
      button span {
        // Undo margin if span inside a button.
        margin: 0 0 0 8px;
      }
    }
  }
}
.data-grid-settings {
  @include control-settings-overlay;
  min-height: 500px;
  ol {
    overflow: auto;
    max-height: 600px;
    li {
      background: #e7e7e7;
      border: solid #777 1px;
      padding: 4px;
      margin: 2px 4px;
      list-style-position: inside;
      .checkbox {
        display: inline-block;
        vertical-align: middle;
        label {
          margin: 0;
          width: auto;
        }
        input[type="checkbox"] {
          margin-right: 8px;
        }
      }
      p {
        margin: 0;
      }
    }
  }
}

/* idcGridSquareOpacityScale plugin */
.idc-gridSquareOpacityScale {
  font-size: 0.8em;
  display: inline-block;
  .scale {
    span {
      min-width: 16px;
      height: 16px;
      margin: 2px 2px 0 0;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      &:last-child {
        color: white;
        margin-right: 0;
      }
    }
  }
  div {
    text-align: center;
  }
}

/* idcLeafletMap plugin */
.idc-leafletMap {
  height: 500px;
  /* Map tooltips */
  .leaflet-tooltip {
    h3 {
      margin: 0;
      font-size: 14px;
    }
  }
}

/* idcVerificationButtons plugin */
.verification-buttons-cntr, .idc-verificationButtons-row {
  * {
    display: inline-block;
    vertical-align: middle;
  }
}

.idc-verificationButtons-row {
  button, a {
    @include verification-button;
  }
  .apply-to {
    margin-right: 8px;
  }
  .multi-only {
    display: none;
  }
  .sep {
    height: 20px;
    width: 1px;
    background-color: silver;
    margin: 0 8px;
  }
}

.verification-popup {
  button {
    margin-left: 8px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.verification-popup {
  .comment-cntr {
    position: relative;
    .comment-tools {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 0.9rem;
      span {
        cursor: pointer;
        padding: 4px 0;
        &:hover {
          color: $colour-select-row-bg;
        }
      }
    }
    .comment-preview {
      position: absolute;
      right: 0;
      left: 0;
      top: 20px;
      bottom: 0;
      background: #e7e7e7;
      padding: 8px;
    }
    .save-template {
      cursor: pointer;
      margin: 0;
    }
  }
  #template-help-cntr {
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    background: white;
    z-index: 1000;
    article {
      border: solid silver 1px;
      border-radius: 4px;
      padding: 8px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 30px;
      left: 0;
      overflow-y: scroll;
      .fa-copy {
        cursor: pointer;
        &:hover {
          background: #e7e7e7;
          border-radius: 2px;
        }
      }
    }
    button {
      position: absolute;
      bottom: 4px;
    }
  }
}

#upload-decisions-form {
  min-width: 600px;
  max-width: 900px;
  .upload-output {
    margin-top: 15px;
  }
  progress {
    width: 100%;
    height: 20px;
  }
  dl {
    margin: 15px;
    dt {
      min-width: 300px;
      margin-right: 20px;
      margin-bottom: 8px;
    }
  }
}

.multiselect-mode {
  .multiselect-switch {
    color: black;
  }
  .multi-only {
    display: initial;
    button {
      margin: 0;
    }
  }
  .single-only {
    display: none;
  }
}

/* idcEsDownload */
.idc-download-ctl-part {
  display: inline-block;
}
.idc-download-files {
  display: none;
  @include drop-shadow;
  max-width: $file-box-width;
  padding: $file-box-padding;
  margin: auto;
  > div {
    border: dashed silver 1px;
    margin: calc($file-box-icon-size / 3);
    padding: calc($file-box-icon-size / 3);
    pre {
      background: #f4f4f4;
      border: 1px solid #ddd;
      border-left: 3px solid #f36d33;
      color: #666;
      page-break-inside: avoid;
      font-family: monospace;
      font-size: 15px;
      line-height: 1.6;
      margin: calc($file-box-icon-size / 3) 0 0 0;
      max-width: 100%;
      overflow: auto;
      padding: calc($file-box-icon-size / 3);
      display: block;
      word-wrap: break-word;
    }
  }
}

/* idcRecordDetailsPane */
.idc-recordDetails {
  .ui-tabs-nav {
    border-bottom: solid silver 1px;
  }
  .ui-tabs .ui-tabs-panel {
    padding: 8px;
    min-height: 150px;
  }
  .record-details {
    th {
      width: 200px;
      padding: 0 0.5em;
    }
    td {
      padding: 0 0.5em;
      span {
        /* Ensure long words in data don't break flow. */
        word-break: break-word;
      }
    }
    .fas, .far {
      font-size: 130%;
    }
    .attrs {
      position: relative;
      min-height: 120px;
    }
    .field-id {
      font-weight: bold;
    }
  }
  .recorder-experience {
    position: relative;
    min-height: 150px;
    table {
      width: 100%;
      th {
        width: 25%;
      }
      td {
        span {
          margin-left: 8px;
          display: inline-block;
          vertical-align: middle;
          height: 15px;
          border-radius: 4px;
          @include drop-shadow(2px);
          &.exp-V {
            background-color: green;
          }
          &.exp-C {
            background-color: silver;
          }
          &.exp-R {
            background-color: red;
          }
        }
        a {
          min-width: 30px;
          display: inline-block;
          vertical-align: middle;
          text-align: right;
        }
      }
    }
  }
}

/* Image classifier info panels. */
.classifier-suggestions {
  .classifier-suggestion {
    margin: 8px;
    padding: 8px;
    position: relative;
    display: inline-block;
    max-width: 150px;
    border: solid #777 1px;
    span {
      display: block;
      &.taxon {
        font-style: italic;
        font-weight: bold;
        margin-top: 4px;
      }
      &.classifier-name {
        font-size: 12px;
        font-style: italic;
      }
      &.classifier-selection {
        font-size: 12px;
      }
      &.probability {
        position: absolute;
        right: 8px;
        top: -14px;
        padding: 4px;
        background: white;
        border-radius: 1em;
        border-style: solid;
        border-width: 2px;
        &.high-probability {
          border-color: olivedrab;
        }
        &.med-probability {
          border-color: orange;
        }
        &.low-probability {
          border-color: brown;
        }
        &.vlow-probability {
          border-color: red;
        }
      }
    }
    &:hover {
      @include drop-shadow(3px);
      border-color: blue;
      cursor: pointer;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  66% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.verification-popup {
  textarea {
    min-width: 400px;
  }
}

#verification-form, #query-form {
  legend * {
    display: inline-block;
    vertical-align: baseline;
    &:first-child {
      margin-right: 15px;
    }
    &.status {
      font-weight: bold;
      font-style: italic;
    }
  }
  .template-select {
    max-width: 400px;
    .fa-trash-alt {
      margin: 0;
      cursor: pointer;
      &.disabled {
        opacity: 0.2;
      }
    }
  }
}

#query-form {
  .alert {
    max-width: 600px;
  }
}

.field-taxon--accepted-name, .field-taxon--species {
  font-style: italic;
}

/* idcBulkEditor */
.bulk-editor-dlg {
  .message {
    span {
      font-weight: bold;
    }
  }
  .bulk-edit-form-controls {
    max-width: 500px;
    margin-bottom: 15px;
    input[type="date"] {
      padding: 0 12px;
    }
  }
  .post-bulk-edit-info {
    .output {
      @include log-output;
    }
  }
  .old-value {
    text-decoration: line-through;
    color: red;
  }
}

/* idcRecordsMover */
.records-mover-dlg {
  .post-move-info {
    .output {
      @include log-output;
    }
  }
}

/* Custom verification rule icons */
.custom-rule-flag {
  background: lighten(orange, 40%);
  color: $colour-hover-row;
  padding: 3px;
  border-radius: 11px;
  width: 22px;
  height: 22px;
  text-align: center;
  border: solid 1px orange;
  font-size: 15px !important;
}

/* A progress bar for stuff when we don't know the duration */
@keyframes slideprogress {
  from {margin-left: 0;}
  to {margin-left: 90%;}
}

.progress-cntr {
  margin-top: 15px;
  .unknown-time-progressbar {
    background-color: #f0f0f0;
    border: solid silver 1px;
    border-radius: 8px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
    > div {
      background-color: silver;
      width: 10%;
      height: 10px;
      border-radius: 10px;
      animation: slideprogress;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  }
}
