/* Accessible colour ranges from colorbrewer */
$colour-range-1-a: #d7191c;
$colour-range-1-b: #fdae61;
$colour-range-1-c: #abd9e9;
$colour-range-1-d: #2c7bb6;

$colour-even-row: #f7f7f7;
$colour-odd-row: #ffffff;
$colour-hover-row-bg: #fffbcc;
$colour-hover-row: #333333;
$colour-select-row: #ffffff;
$colour-select-row-bg: $colour-range-1-d;

$colour-dark-text: #444;
$colour-dark-text-active: #000;

$spacer: 15px;