<table{{ attributes.addClass(classes) }}>
    {% if form.header %}
        <thead>
        <tr>
            {% for key, column in form.header|filter((value, key) => key|first != '#') %}
                <th>
                    {{- column }}
                </th>
            {% endfor %}
        </tr>
        </thead>
    {% endif %}
    {% for key, column in form.rows|filter((value, key) => key|first != '#') %}
        <tr>
            {% for key2, column2 in column|filter((value2, key2) => key2|first != '#') %}
                <td>
                    {{- column2 }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
