@media screen and (max-width: 1024px) {
  .pane {
    height: 110px;
  }
}

.filter-controls h3 {
   margin: 0;
}

.olMap .olControlDrawFeaturePolygonItemActive, .olMap .olControlDrawFeaturePolygonItemInactive,
.olMap .olControlDrawFeaturePathItemActive, .olMap .olControlDrawFeaturePathItemInactive,
.olMap .olControlDrawFeaturePointItemActive, .olMap .olControlDrawFeaturePointItemInactive,
.olMap .olControlclearEditLayerItemActive, .olMap .olControlclearEditLayerItemInactive {
  display: none;
}

.olMap .olControlSelectFeatureItemActive, .olMap .olControlSelectFeatureItemInactive {
  display: block;
}

#controls-filter_where .olMap .olControlDrawFeaturePolygonItemActive, #controls-filter_where .olMap .olControlDrawFeaturePolygonItemInactive,
#controls-filter_where .olMap .olControlDrawFeaturePathItemActive, #controls-filter_where .olMap .olControlDrawFeatureLinePathInactive,
#controls-filter_where .olMap .olControlDrawFeaturePointItemActive, #controls-filter_where .olMap .olControlDrawFeaturePointItemInactive,
#controls-filter_where .olMap .olControlclearEditLayerItemActive, #controls-filter_where .olMap .olControlclearEditLayerItemInactive {
  display: block;
}
#controls-filter_where .olMap .olControlDrawFeaturePolygonItemActive.disabled, #controls-filter_where .olMap .olControlDrawFeaturePolygonItemInactive.disabled,
#controls-filter_where .olMap .olControlDrawFeaturePathItemActive.disabled, #controls-filter_where .olMap .olControlDrawFeatureLinePathInactive.disabled,
#controls-filter_where .olMap .olControlDrawFeaturePointItemActive.disabled, #controls-filter_where .olMap .olControlDrawFeaturePointItemInactive.disabled,
#controls-filter_where .olMap .olControlclearEditLayerItemActive.disabled, #controls-filter_where .olMap .olControlclearEditLayerItemInactive.disabled {
  display: none;
}

#controls-filter_where .olMap .olControlSelectFeatureItemActive, #controls-filter_where .olMap .olControlSelectFeatureItemInactive {
  display: none;
}

#controls-filter_where #location_list\:box > div > div, #controls-filter_where #location_list\:box > div > ul {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  margin: 2px 0.5% 2px 0;
  vertical-align: top;
  width: auto;
}

#controls-filter_what #what-tabs {
  min-height: 165px;
}

.save-controls {
  margin-bottom: 8px;
}
.save-controls.form-inline input, .save-controls.form-inline button {
  margin-right: 8px;
}

img.button {
  cursor: pointer;
  margin-left: 6px;
}

img.button.disabled {
  cursor: auto;
}

fieldset.inline {
  padding: 0;
}

fieldset.inline * {
  vertical-align: middle;
}

fieldset.inline fieldset, div.filter-popup-columns {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  vertical-align: top;
  border: none;
  padding: 4px 12px;
  margin: 0;
}

fieldset.inline fieldset label {
  width: auto;
}

div.filter-popup-columns {
  width: 250px;
  border-right: solid silver 1px;
}
div.filter-popup-columns:last-child {
  border: none;
}
div.filter-popup-columns li {
  background: none;
  border-bottom: 1px solid #F0F0F0;
  padding: 0.2em 0;
}
div.filter-popup-columns li:last-child {
  border: none;
}
div.filter-popup-columns ul * {
  vertical-align: middle;
  margin: 0 6px;
}

#controls-filter_source {
  width: 800px;
 }

#controls-filter_source .filter-popup-columns ul {
  overflow: auto;
  height: 450px;
  padding: 0;
}

/* Source search and operation controls */
#controls-filter_source .filter-popup-columns .ctrl-wrap {
  font-size: 90%;
  margin-bottom: 4px;
}

#ctrl-wrap-taxon_rank_sort_order_op {
  display: inline-block;
}

#what-tabs ul.inline {
  margin-left: 1em;
}

#what-tabs ul.inline li {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  margin: 0 1em;
}

.context-instruct {
  display: none;
}

input[disabled] {
  opacity: 0.5;
}

.filter-controls select, .filter-controls input, .filter-controls label {
  vertical-align: middle;
}

#controls-filter_who, #controls-filter_occ_id, #controls-filter_smp_id {
  width: 300px;
}
#controls-filter_occ_id label, #controls-filter_smp_id label {
  width: auto;
}

#controls-filter_occ_id .helpText, #controls-filter_smp_id .helpText {
  margin-left: 0;
}

#controls-filter_quality {
  width: 600px;
}

#controls-filter_occ_id {
  width: 400px;
}