#redet-form {
  .helpText {
    margin: 0;
  }
  .form-control {
    /* Allow space for required * */
    width: 95%;
  }
  label {
    width: auto;
  }
  input[type="checkbox"] {
    margin: 10px 8px;
  }
}